---
layout: default
cover: 'assets/images/scenic_250_general1.jpg'
class: 'tag-template'
navigation: True
logo: 'assets/images/logo.png'
current: tag
---

<!-- < dynamically overriding backgrounds for tags as well as descriptions -->
{% if page.url contains 'fables' %}
   {% assign tag_description='A series of short stories that make you think.' %}
{% elsif page.url contains 'speeches' %}
    {% assign new_cover='assets/images/cover7.jpg' %}
    {% assign tag_description='Some of the greatest words ever spoken.' %}
{% elsif page.url contains 'fiction' %}
    {% assign new_cover='assets/images/cover1.jpg' %}
{% endif %}

<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- If we have a tag cover, display that - else blog cover - else nothing -->
<header class="main-header tag-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{% if new_cover %}{{ new_cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.tag | capitalize }}</h1>
            <h2 class="page-description">
            {% if tag_description %}
                {{ tag_description }}
            {% elsif page.tag %}
			    A {{ paginator.total_posts }}-post collection
            {% endif %}
            </h2>
        </div>
    </div>
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main">

    <!-- The tag below includes the post loop - partials/loop.hbs -->
    {% include loop.html %}

</main>
